.form__save-button {
  width: 358px;
  min-height: 50px;
  background-color: #000;
  border-radius: 2px;
  border: none;
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  transition: opacity 0.2s linear;
}

.form__save-button:hover {
  opacity: 0.8;
}

@media screen and (max-width: 600px) {
  .form__save-button {
    max-width: 238px;
    font-size: 14px;
  }
}
