.profile {
  padding: 40px 0 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  max-width: 880px;
  overflow: hidden;
}

@media screen and (max-width: 888px) {
  .profile {
    padding: 42px 0 0 0;
    flex-direction: column;
    margin: auto;
  }
}
