.profile {
  padding-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  max-width: 880px;
  overflow: hidden;
}

@media screen and (max-width: 888px) {
  .profile {
    /* max-width: 282px; */
    padding-top: 42px;
    flex-direction: column;
    margin: auto;
  }
}
