.elements__image {
  border: none;
  border-radius: 10px 10px 0 0;
  cursor: pointer;
  display: block;
  height: 282px;
  object-fit: cover;
  object-position: center;
  overflow: hidden;
  position: relative;
  transition: transform 0.5s linear;
  width: 282px;
}
