.elements__list {
  column-gap: 17px;
  display: grid;
  grid-auto-rows: max-content;
  grid-template-columns: repeat(3, 282px);
  justify-content: center;
  margin: 0;
  padding: 0;
  row-gap: 20px;
}
@media screen and (max-width: 910px) {
  .elements__list {
    grid-template-columns: repeat(2, 282px);
  }
}

@media screen and (max-width: 600px) {
  .elements__list {
    grid-template-columns: 282px;
  }
}
